@page "/product/{id:int}"
@if (this.Product == null)
{
    <span>@this.Message</span>
}
else
{
    <div class="media">
        <div class="media-img-wrapper mr-2">
            <img class="media-img" src="@Product.ImageUrl" alt="@Product.Title" />
        </div>
        <div class="media-body">
            <h2 class="mb-0">@Product.Title</h2>
            <p>@Product.Description</p>
            @*@<h4 class="price">$@Product.Price</h4>*@
        </div>
    </div>
}



